@model List<ShopProject.Areas.Shopper.Models.ShoppingCartItems>
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Areas/Shopper/Views/Shared/_LayoutShop.cshtml";
}
<h3><a href="#" style="text-decoration:none;">Hoá đơn @Session["MHD"]</a></h3>
<h3><a href="#" style="text-decoration:none;">Hoá đơn  @Session["Phonegiao"]</a></h3>
<div class="container">
    @if (Model == null || Model.Count == 0)
    {
        <div class="spec">
            <h3>Giỏ hàng</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <p class="text-info text-center" style="font-size:25px;">
            Giỏ hàng của bạn trống!
        </p>
    }
    else
    {
        <div class="spec">
            <h3>Giỏ hàng</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        int total = 0;
        int i = 0;
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Hình</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Thành tiền</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <img src="@item.Products.proPhoto" width="70" height="60" /> <!-- Lấy hình từ Products -->
                                </td>
                                <td>
                                    <a target="_blank" href="@Url.Action("ProductDetail", "Products", new { id = item.proID })" style="font-size:medium;">
                                        @item.Products.proName <!-- Lấy tên sản phẩm từ Products -->
                                    </a>
                                </td>
                                <td>
                                    <!-- Số lượng từ ShoppingCartItems -->
                                    <form id="formSoluong_@i" action="@Url.Action("SuaSoLuong","GioHang")" method="get">
                                        <input type="hidden" name="SanPhamID" value="@item.proID" />
                                        <input class="col-lg-4" style="height:30px;" type="number" min="1" step="1" name="soluongmoi" value="@item.quantity" onchange="$('#formSoluong_@i').submit();" />
                                    </form>
                                </td>
                                <td>
                                    @item.price VNĐ <!-- Đơn giá từ ShoppingCartItems -->
                                </td>
                                <td>
                                    <!-- Thành tiền từ ShoppingCartItems -->
                                    @(item.quantity * decimal.Parse(item.price)) VNĐ
                                </td>
                                <td>
                                    <a href="@Url.Action("XoaKhoiGio",new { SanPhamID = item.proID})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td class="text-right"></td>
                            <td></td>
                            <td class="text-right">Tổng thành tiền:</td>
                            <td style="font-size:large;">
                                @if (Model != null && Model.Any())
                                {
                                    // Tính tổng thành tiền của từng sản phẩm trong giỏ hàng
                                    decimal totalAmount = Model.Sum(it => it.quantity * decimal.Parse(it.price));

                                    // Hiển thị tổng thành tiền với định dạng số và đơn vị tiền tệ
                                    @totalAmount.ToString("#,##0")
                                }
                                else
                                {
                                    <span>0 VNĐ</span>
                                }
                            </td>
                            <td><a href="@Url.Action("Index", "ThanhToan")" role="button" class="btn btn-success">Thanh toán</a></td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>
    }
</div>
