@{
    ViewBag.Title = "Hoá đơn";
    Layout = "~/Areas/Shopper/Views/Shared/_LayoutShop.cshtml";
}
@{
    ShopProject.Areas.Shopper.Models.UserContext db = new ShopProject.Areas.Shopper.Models.UserContext();
    var cus = db.Orders.Find(Session["MHD"]);
    var cu = db.Customers.Find(Session["cusPhone"]);
}
}

<div class="container">
    <div class="spec ">
        <h3><a href="#" style="text-decoration:none;">Hoá đơn @Session["MHD"]</a></h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <div class="alert alert-danger">
        Hình thức thanh toán: chỉ nhận tiền mặt khi giao hàng.
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Họ và tên khách: @cu.cusFullName
                </div>
                <div class="panel-body">
              
                    @if (cus != null)
                    {
                        <p>
                            <br />
                            Họ và tên người nhận: @cus.cusFullNamegiao<br />
                            Số điện thoại: @Session["Phonegiao"]<br />
                            Ghi chú: @db.Orders.Find(Session["MHD"]).orderMessage<br />
                            Email: @cus.cusEmailgiao<br />
                            Địa chỉ: @cus.cusAddressgiao<br />

                        </p>
                    }
                    else
                    {
                        <p>Không có thông tin khách hàng</p>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    SHOPPER
                </div>
                <div class="panel-body">
                    <p>
                        <br />
                        Số điện thoại: 01212692802<br />
                        Email: THANG@gmail.com<br />
                        Địa chỉ: Nga Sơn, Thanh Hóa<br /><br /><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sản phẩm
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            int tong = 0;
                        }
                        @foreach (var item in db.OrderDetails.SqlQuery("Select * from OrderDetails Where orderID='" + Session["MHD"] + "'"))
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td><img src="@item.Products.proPhoto" width="50" height="50"></td>
                                <td>@item.Products.proName</td>
                                <td>@item.ordtsQuantity</td>
                                <td>@Int32.Parse(item.ordtsThanhTien).ToString("#,##0") VNĐ</td>
                            </tr>
                            tong += Int32.Parse(item.ordtsThanhTien);
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Tổng tiền:</td>
                            <td>@tong.ToString("#,##0") VNĐ</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>